.card.bio-card {
    max-width: 95%; /* Adjust the max-width as needed */
    width: 1500px;
    margin: 20px auto; /* Added margin */
    box-shadow: rgba(0, 0, 0, 0.514) -15px 15px 30px -2px;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(90deg, #d4d4d4 0%, #ffffff 70%, #eeeeee 100%) border-box;
    border-radius: 25px;
    border: 1px solid transparent;
}

.card-body {
  box-shadow: inset rgba(0, 0, 0, 0.514) 0px 0px 15px 2px;
  border-radius: 24px;
}

.card-body p {
  margin: 15px;
}