.card-element-image {
  width: 100%;
  height: 600px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 25px;
}

.tilty::after {
  box-shadow: inset rgba(0, 0, 0, 0.514) 0px 0px 15px 5px;
  border: white 1px solid;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 25px;
  pointer-events: none;
  transition: backdrop-filter 0.1s ease-in-out;
}

.tilty:hover::after {
  backdrop-filter: blur(5px);
  transition: backdrop-filter 0.1s ease-in-out;
}

.spinner-overlay {
  background-color: transparent !important;
}

.tilty {
  border-radius: 25px;
  margin-bottom: 24px;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-shadow: rgba(0, 0, 0, 0.514) -15px 15px 30px -2px;
}

.tilty-glare {
  position: relative;
  z-index: 1;
}

.tilty-glare-wrapper {
  border-radius: 25px;
}

/* Border on top with transparency or styling */
.overlay-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 64px;
  opacity: 0;
  pointer-events: none; /* So clicks go through to the image */
  text-shadow: 1px 1px 5px black;
  transform: translateZ(50px);
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.card-element-image:hover ~ .overlay-button {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.card-element-image.visible {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
}

.card-element-image.hidden {
  opacity: 0;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
  z-index: 1;
}