.card.image-card {
  width: 100%;
  height: 400px;
  margin-bottom: 12px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.image-card-img.visible {
  opacity: 1;
}

.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent overlay */
  z-index: 1;
}